@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background-image: url('../public/bg.jpg');
  background-size: cover;
  background-position: center;
}

html{
  overflow-x: hidden;
}

  
  